ENVIRONMENT=
BACKEND_URL=
FRONTEND_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
DATABASE_URL=
LOCAL_DATABASE_URL=
REDIS_URL=
SECRET_KEY=
ANTHROPIC_API_KEY=
LASTFM_API_KEY=
LASTFM_API_SECRET=
